<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.prj.mapper.NoticeMapper">

<select id="noticeSelectList" resultType="co.micol.prj.serviceNotice.NoticeVO">
	SELECT * FROM NOTICE ORDER BY NOTICE_ID DESC
</select>

<select id="noticeSelect" resultType="co.micol.prj.serviceNotice.NoticeVO">
	SELECT * FROM NOTICE WHERE NOTICE_ID = #{noticeId}
</select>

<insert id="noticeInsert">
	<selectKey keyProperty="noticeId" resultType="int" order="BEFORE">
	SELECT CASE WHEN MAX(NOTICE_ID) IS NULL THEN 1 ELSE MAX(NOTICE_ID)+1 END AS ID
	FROM NOTICE
	
	</selectKey>
	INSERT INTO NOTICE 
	VALUES(#{noticeId},#{noticeWriter},#{noticeTitle},#{noticeSubject},#{noticeDate},#{noticeAttech},#{noticeAttechDir},0)
</insert>

<update id="noticeUpdate">
	update notice
	<set>
		<if test="noticeWriter != null">NOTICE_WRITER = #{noticeWriter},</if>
		<if test="noticeTitle != null">NOTICE_TITLE = #{noticeTitle},</if>
		<if test="noticeSubject != null">NOTICE_SUBJECT = #{noticeSubject},</if>
		<if test="noticeDate != null">NOTICE_DATE = #{noticeDate},</if>
		<if test="noticeAttech != null">NOTICE_ATTECH = #{noticeAttech},</if>
		<if test="noticeAttechDir != null">NOTICE_ATTECHDIR = #{noticeAttechDir}</if>
	</set>
	WHERE NOTICE_ID = #{notice_id}
</update>

<delete id="noticeDelete">
	DELETE FROM NOTICE WHERE NOTICE_ID = #{noticeId}

</delete>

<update id="noticeHitUpdate" >
	update notice set notice_hit = notice_hit+1 where notice_id= #{id}
</update>

<select id="noticeSearchList" resultType="co.micol.prj.serviceNotice.NoticeVO">
	
</select>


</mapper>